<%- include("./partial/navbar")%>


    <%- include('./partial/sidebar');%>

        <!-- component -->
        <div class="flex items-center justify-center">
            <div class="mx-auto w-full max-w-[550px] p-9 rounded-md border border-gray-100 shadow-md">

                <form action="/signup" method="POST" enctype="multipart/form-data">
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Name of the Employee
                                </label>
                                <input type="text" name="name" id="name" placeholder="Enter the Name"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="card_id" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Card Number
                                </label>
                                <input type="number" inputmode="numeric" name="cardId" id="card_id"
                                    placeholder="Enter the Card Number" min="0"
                                    class="appearance-none w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="class" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Position
                                </label>
                                <select name="position" id="class"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3.5 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                    <option>Select Position</option>
                                    <% {position.forEach((p,index)=>{ %>

                                        <option key="<%= index%>" value="<%= p.id %>">
                                            <%= p.position %>
                                        </option>
                                        <% }) } %>
                                </select>
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Email
                                </label>
                                <input type="email" name="email" id="email" placeholder="Enter the Email"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />




                            </div>
                        </div>

                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="batch" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Password
                                </label>
                                <input type="text" name="password" id="password" placeholder="Enter the password"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="phone" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Phone Number
                                </label>
                                <input type="number" name="phone" id="phone" placeholder="Enter the phone number"
                                    min="0"
                                    class="appearance-none w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                        </div>

                        <div class="w-full px-3 sm:w-1/2">
                            <!-- <div class="mb-5">
                                <label for="phone" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Phone Number
                                </label>
                                <input type="number" name="phone" id="phone" placeholder="Enter the phone number"
                                    min="0"
                                    class="appearance-none w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div> -->

                            <div class="mb-5">
                                <label for="dob" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Date of Birth
                                </label>
                                <input type="date" name="dob" id="dob"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                        </div>

                        <div class="w-full px-3 sm:w-1/2">

                            <div class="mb-5">
                                <label class="mb-3 block text-base font-medium text-[#07074D]">
                                    Gender
                                </label>
                                <div class="flex items-center space-x-6">
                                    <div class="flex items-center mt-3">
                                        <input type="radio" name="gender" value="male" id="radioButton1"
                                            class="h-5 w-5" />
                                        <label for="radioButton1" class="pl-3  text-base font-medium text-[#07074D]">
                                            Male
                                        </label>
                                    </div>
                                    <div class="flex items-center mt-3">
                                        <input type="radio" name="gender" value="female" id="radioButton2"
                                            class="h-5 w-5" />
                                        <label for="radioButton2" class="pl-3 text-base font-medium text-[#07074D]">
                                            Female
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>


                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="address" class="mb-3 block text-base font-medium text-[#07074D]">
                                    CitizenShip No
                                </label>
                                <input type="number" name="citizenship" id="Citizenship"
                                    placeholder="Enter the Citizenship No" min="0"
                                    class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />

                            </div>
                        </div>
                        <!-- <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="dob" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Date of Birth
                                </label>
                                <input type="date" name="dob" id="dob"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                            </div>
                        </div> -->

                    </div>
                    <div class="mb-5">
                        <label for="address" class="mb-3 block text-base font-medium text-[#07074D]">
                            Address
                        </label>
                        <input type="text" name="address" id="address" placeholder="Enter the full address" min="0"
                            class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>

                    <div class="-mx-3 flex justify-center flex-wrap">



                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">

                                <div class="rounded-md border border-gray-100 bg-white shadow-md">
                                    <label for="upload" class="flex flex-col items-center gap-2 cursor-pointer">
                                        <img id="output" width="100">
                                        <span class="text-gray-600 font-medium">Upload a Profile Photo</span>
                                    </label>
                                    <input type="file" name="image" class="" accept="image/*" />
                                </div>

                            </div>
                        </div>

                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">

                                <div class="rounded-md border border-gray-100 bg-white shadow-md">
                                    <label for="upload" class="flex flex-col items-center gap-2 cursor-pointer">
                                        <img id="output" width="100">
                                        <span class="text-gray-600 font-medium">Upload a Document</span>
                                    </label>
                                    <input type="file" name="docs" class="" accept="image/*" />
                                </div>

                            </div>
                        </div>






                    </div>


                    <div class="mb-3 block text-center mt-5">
                        <button type="submit"
                            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            function loadFile(event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function () {
                    URL.revokeObjectURL(output.src) // free memory
                }
            }
        </script>




        <% include('./partial/footer') %>